*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: lightblue;
}
.wrapper{
    width: 90%;
    max-width: 400px;
    background-color:white ;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 32px;
    border-radius: 12.8px;
}
.app-details{
    display: flex;
    align-items: center;
    flex-direction: column;
}
img{
    width: 150px;
}
.app-title{
    font-size:19.2px ;
    text-transform: uppercase;
    margin-bottom: 16px;
}